@page "/chat/{roomId}/{userId}"
@model Jobsity.Chat.Web.Pages.ChatModel

@{
    ViewData["Title"] = "Jobsity Chat";
}

<!-- Chat -->
<div class="chat">
    <div>
        <h1>Jobsity Chat - Hello, @Model.UserId!</h1>
    </div>
    <div class="chat-body">
        <div id="chat-messages">
            <p><strong>Welcome to @Model.ChatRoomName!</strong></p>

            @foreach (var chat in Model.Chats)
            {
                <p>[@chat.UserId]: @chat.Message</p>
            }
        </div>
        <div>
            <input id="new-message" type="text" placeholder="Type a message..." />
            <button onclick="sendMessage('@Model.RoomId', '@Model.UserId')">Send</button>
        </div>
    </div>
</div>

@section Scripts {
<script> window.ChatSession = window.ChatSession || { roomId: '@Model.RoomId' }; </script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
}